body {
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
    padding: 50px;
    text-align: center;
}

.logo {
    width: 120px;
}

.header h1 {
    margin-top: 10px;
}

.score-box {
    margin: 40px auto;
    width: 350px;
    padding: 20px;
    background: rgba(0,0,0,0.5);
    border-radius: 15px;
    box-shadow: 0 0 15px black;
}

.score-box h2 {
    margin: 0;
}

.score-box h3 {
    font-size: 40px;
    margin: 10px 0;
}

.btn {
    background: #ff9800;
    color: black;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background: #ffa726;
}
